*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle, #1a1a2e,#16213e,#0f3460);
    color: #0ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game_container{
    text-align: center;
    background: rgba(0, 0, 0,0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #0ff;
}
.game_grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    place-items: center;
    margin-top: 20px;
}   
.card{
    width: 70px;
    height: 70px;
    background: rgba(0, 255, 255, .2);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0,0.5);
    font-size: 40px;
    cursor: pointer;
    transition: transform .3s ease ,box-shadow .3s ease;

}
.card:hover{
    box-shadow: 0 0 15px #0ff;
}
.card.flipped{
    background: rgba(0, 255, 255, .8);
    transform: rotateY(180deg);
}
#restart_btn{
    margin-top: 20px;
    background: #0ff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow .3s ease;
}
#restart_btn:hover{
    box-shadow: 0 0 15px #0ff;
}
